/CodeChallenge/Endpoints/CodeChallengeApi/obj/Debug/net5.0/apphost
/CodeChallenge/Endpoints/CodeChallengeApi/bin/Debug/net5.0/appsettings.Development.json
/CodeChallenge/Endpoints/CodeChallengeApi/bin/Debug/net5.0/appsettings.json
/CodeChallenge/Endpoints/CodeChallengeApi/bin/Debug/net5.0/CodeChallengeApi
/CodeChallenge/Endpoints/CodeChallengeApi/obj/Debug/net5.0/CodeChallengeApi.csproj.AssemblyReference.cache
/CodeChallenge/Endpoints/CodeChallengeApi/obj/Debug/net5.0/CodeChallengeApi.csproj.CoreCompileInputs.cache
/CodeChallenge/Endpoints/CodeChallengeApi/obj/Debug/net5.0/CodeChallengeApi.csproj.FileListAbsolute.txt
/CodeChallenge/Endpoints/CodeChallengeApi/bin/Debug/net5.0/CodeChallengeApi.deps.json
/CodeChallenge/Endpoints/CodeChallengeApi/bin/Debug/net5.0/ref/CodeChallengeApi.dll
/CodeChallenge/Endpoints/CodeChallengeApi/bin/Debug/net5.0/CodeChallengeApi.dll
/CodeChallenge/Endpoints/CodeChallengeApi/obj/Debug/net5.0/ref/CodeChallengeApi.dll
/CodeChallenge/Endpoints/CodeChallengeApi/obj/Debug/net5.0/CodeChallengeApi.dll
/CodeChallenge/Endpoints/CodeChallengeApi/obj/Debug/net5.0/CodeChallengeApi.genruntimeconfig.cache
/CodeChallenge/Endpoints/CodeChallengeApi/obj/Debug/net5.0/CodeChallengeApi.MvcApplicationPartsAssemblyInfo.cache
/CodeChallenge/Endpoints/CodeChallengeApi/obj/Debug/net5.0/CodeChallengeApi.MvcApplicationPartsAssemblyInfo.cs
/CodeChallenge/Endpoints/CodeChallengeApi/bin/Debug/net5.0/CodeChallengeApi.pdb
/CodeChallenge/Endpoints/CodeChallengeApi/obj/Debug/net5.0/CodeChallengeApi.pdb
/CodeChallenge/Endpoints/CodeChallengeApi/obj/Debug/net5.0/CodeChallengeApi.RazorTargetAssemblyInfo.cache
/CodeChallenge/Endpoints/CodeChallengeApi/bin/Debug/net5.0/CodeChallengeApi.runtimeconfig.dev.json
/CodeChallenge/Endpoints/CodeChallengeApi/bin/Debug/net5.0/CodeChallengeApi.runtimeconfig.json
/CodeChallenge/Endpoints/CodeChallengeApi/obj/Debug/net5.0/staticwebassets/CodeChallengeApi.StaticWebAssets.Manifest.cache
/CodeChallenge/Endpoints/CodeChallengeApi/obj/Debug/net5.0/staticwebassets/CodeChallengeApi.StaticWebAssets.xml
/CodeChallenge/Endpoints/CodeChallengeBootstrap/obj/Debug/net5.0/CodeChallengeBootstrap.csproj.AssemblyReference.cache
/CodeChallenge/Endpoints/CodeChallengeBootstrap/obj/Debug/net5.0/CodeChallengeBootstrap.csproj.CopyComplete
/CodeChallenge/Endpoints/CodeChallengeBootstrap/obj/Debug/net5.0/CodeChallengeBootstrap.csproj.CoreCompileInputs.cache
/CodeChallenge/Endpoints/CodeChallengeBootstrap/obj/Debug/net5.0/CodeChallengeBootstrap.csproj.FileListAbsolute.txt
/CodeChallenge/Endpoints/CodeChallengeBootstrap/bin/Debug/net5.0/CodeChallengeBootstrap.deps.json
/CodeChallenge/Endpoints/CodeChallengeApi/bin/Debug/net5.0/CodeChallengeBootstrap.dll
/CodeChallenge/Endpoints/CodeChallengeBootstrap/bin/Debug/net5.0/ref/CodeChallengeBootstrap.dll
/CodeChallenge/Endpoints/CodeChallengeBootstrap/bin/Debug/net5.0/CodeChallengeBootstrap.dll
/CodeChallenge/Endpoints/CodeChallengeBootstrap/obj/Debug/net5.0/ref/CodeChallengeBootstrap.dll
/CodeChallenge/Endpoints/CodeChallengeBootstrap/obj/Debug/net5.0/CodeChallengeBootstrap.dll
/CodeChallenge/Endpoints/CodeChallengeApi/bin/Debug/net5.0/CodeChallengeBootstrap.pdb
/CodeChallenge/Endpoints/CodeChallengeBootstrap/bin/Debug/net5.0/CodeChallengeBootstrap.pdb
/CodeChallenge/Endpoints/CodeChallengeBootstrap/obj/Debug/net5.0/CodeChallengeBootstrap.pdb
/Commons/obj/Debug/net5.0/Commons.csproj.AssemblyReference.cache
/Commons/obj/Debug/net5.0/Commons.csproj.CoreCompileInputs.cache
/Commons/obj/Debug/net5.0/Commons.csproj.FileListAbsolute.txt
/Commons/bin/Debug/net5.0/Commons.deps.json
/CodeChallenge/Endpoints/CodeChallengeApi/bin/Debug/net5.0/Commons.dll
/CodeChallenge/Endpoints/CodeChallengeBootstrap/bin/Debug/net5.0/Commons.dll
/Commons/bin/Debug/net5.0/ref/Commons.dll
/Commons/bin/Debug/net5.0/Commons.dll
/Commons/obj/Debug/net5.0/ref/Commons.dll
/Commons/obj/Debug/net5.0/Commons.dll
/Domain/bin/Debug/net5.0/Commons.dll
/Engine/bin/Debug/net5.0/Commons.dll
/CodeChallenge/Endpoints/CodeChallengeApi/bin/Debug/net5.0/Commons.pdb
/CodeChallenge/Endpoints/CodeChallengeBootstrap/bin/Debug/net5.0/Commons.pdb
/Commons/bin/Debug/net5.0/Commons.pdb
/Commons/obj/Debug/net5.0/Commons.pdb
/Domain/bin/Debug/net5.0/Commons.pdb
/Engine/bin/Debug/net5.0/Commons.pdb
/Domain/obj/Debug/net5.0/Domain.csproj.AssemblyReference.cache
/Domain/obj/Debug/net5.0/Domain.csproj.CopyComplete
/Domain/obj/Debug/net5.0/Domain.csproj.CoreCompileInputs.cache
/Domain/obj/Debug/net5.0/Domain.csproj.FileListAbsolute.txt
/Domain/bin/Debug/net5.0/Domain.deps.json
/CodeChallenge/Endpoints/CodeChallengeApi/bin/Debug/net5.0/Domain.dll
/CodeChallenge/Endpoints/CodeChallengeBootstrap/bin/Debug/net5.0/Domain.dll
/Domain/bin/Debug/net5.0/ref/Domain.dll
/Domain/bin/Debug/net5.0/Domain.dll
/Domain/obj/Debug/net5.0/ref/Domain.dll
/Domain/obj/Debug/net5.0/Domain.dll
/Engine/bin/Debug/net5.0/Domain.dll
/CodeChallenge/Endpoints/CodeChallengeApi/bin/Debug/net5.0/Domain.pdb
/CodeChallenge/Endpoints/CodeChallengeBootstrap/bin/Debug/net5.0/Domain.pdb
/Domain/bin/Debug/net5.0/Domain.pdb
/Domain/obj/Debug/net5.0/Domain.pdb
/Engine/bin/Debug/net5.0/Domain.pdb
/Engine/obj/Debug/net5.0/Engine.csproj.AssemblyReference.cache
/Engine/obj/Debug/net5.0/Engine.csproj.CopyComplete
/Engine/obj/Debug/net5.0/Engine.csproj.CoreCompileInputs.cache
/Engine/obj/Debug/net5.0/Engine.csproj.FileListAbsolute.txt
/Engine/bin/Debug/net5.0/Engine.deps.json
/CodeChallenge/Endpoints/CodeChallengeApi/bin/Debug/net5.0/Engine.dll
/CodeChallenge/Endpoints/CodeChallengeBootstrap/bin/Debug/net5.0/Engine.dll
/Engine/bin/Debug/net5.0/ref/Engine.dll
/Engine/bin/Debug/net5.0/Engine.dll
/Engine/obj/Debug/net5.0/ref/Engine.dll
/Engine/obj/Debug/net5.0/Engine.dll
/CodeChallenge/Endpoints/CodeChallengeApi/bin/Debug/net5.0/Engine.pdb
/CodeChallenge/Endpoints/CodeChallengeBootstrap/bin/Debug/net5.0/Engine.pdb
/Engine/bin/Debug/net5.0/Engine.pdb
/Engine/obj/Debug/net5.0/Engine.pdb
/CodeChallenge/Endpoints/CodeChallengeApi/bin/Debug/net5.0/Microsoft.AspNetCore.JsonPatch.dll
/CodeChallenge/Endpoints/CodeChallengeApi/bin/Debug/net5.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
/CodeChallenge/Endpoints/CodeChallengeApi/bin/Debug/net5.0/Microsoft.OpenApi.dll
/CodeChallenge/Endpoints/CodeChallengeApi/bin/Debug/net5.0/Newtonsoft.Json.Bson.dll
/CodeChallenge/Endpoints/CodeChallengeApi/bin/Debug/net5.0/Newtonsoft.Json.dll
/CodeChallenge/Endpoints/CodeChallengeApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
/CodeChallenge/Endpoints/CodeChallengeApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/CodeChallenge/Endpoints/CodeChallengeApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
